.main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
input {
  padding: 10px;
  font-size: 1.2em;
  border: solid 1px #aaa;
  border-radius: 3px;
}
.repository-list {
  margin-top: 30px;
}
.repository {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.repository:not(:last-child) {
  border-bottom: solid 1px #ddd;
}
.repository .repository-name {
  font-size: 1.2em;
}
.repository .repository-name .description {
  color: #888;
}
.repository .repository-meta {
  min-width: 20%;
  margin: 5px;
}
.searching {
  margin: 20px;
  text-align: center;
}
